html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.nav {
  display:flex;
  background-color: lavender;
  list-style: none;
  
}
 .nav li {
  padding:10px;
  margin:10px;
}
.nav li:hover  {
  
  background-color: rgb(178, 178, 248);
  border-radius: 10px;
 
}
.nav li:hover a {
  color:whitesmoke;
}

a {
  color: rgb(0, 31, 209);
  text-decoration: none;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}
.card {
  
  border-radius: 15px;
  background-color: lavender;
  margin: 10px;
  flex:15%;
  text-align: center;

 
  
}
.row {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
 
}
